@font-face {
    font-family: "montage";
    src: url(/font/montage.eot) format("eot"), url(/font/montage.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montage;
    color: rgb(239, 238, 245);
    background: #ff000000;
}

:root {
    --blue-accent: #1b66ca;
    --blue-100: #eaf0fc;
    --bg: #ffffff;
    --text: #1e1f20;
    --text-grey: #686868;
    --light-grey: #a8a8a8;
    --error: #feafaf;
    --warn: #fffaa4;
    --info: #bad8ff;
}

body {
    height: 100vh;
    background-image: url(/assets/images/frosted_bg_4.webp);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background: #000;
    background-color: #000000;
    background-image: linear-gradient(#ffffff0e 2px, transparent 2px), linear-gradient(90deg, #ffffff12 2px, transparent 2px),
        linear-gradient(#ffffff0f 1px, transparent 1px), linear-gradient(90deg, #ffffff09 1px, #000000 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.app {
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    height: 100%;
}

main {
    padding: 0 8%;
    height: 100%;
}

.countdown-display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 750ms ease, opacity 500ms ease;
    transition: 500ms ease;
}

body.complete .countdown-display {
    filter: blur(10px);
    transform: scale(0.8);
}

.countdown-display .min-sec .min-cont,
.countdown-display .min-sec .sec-cont {
    display: flex;
    align-items: baseline;
}

.countdown-display .min-sec .min-cont h6,
.countdown-display .min-sec .sec-cont h6 {
    font-size: clamp(1rem, 10vw, 4rem);
    font-weight: 100;
    letter-spacing: 0.1rem;
    padding-left: 5%;
    opacity: 0.9;
}

.countdown-display .min-sec .sec-cont {
    margin-top: -15%;
    margin-left: 15%;
}

.digit-cont {
    display: flex;
    transform: skewX(-7deg);
}

.countdown-display .day-hour-cont > div {
    display: flex;
    align-items: baseline;
    transform: translateY(20%);
}

.countdown-display .day-hour-cont > div h5 {
    font-size: clamp(2.5rem, 12vw, 5rem);
    font-weight: 100;
}

.countdown-display .day-hour-cont > div h6 {
    font-size: clamp(1.3rem, 5vw, 2.6rem);
    font-weight: 100;
    padding-left: 8%;
}

.countdown-display .day-hour-cont .hour-cont {
    margin-left: -13%;
}

#min-digit-1 p {
    background: -webkit-linear-gradient(#f2884f, #be1c1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 5px #fb2216);
}

#min-digit-2 p {
    background: -webkit-linear-gradient(#eea14a, #b8271f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 5px #fb2216);
}

#sec-digit-1 p {
    background: -webkit-linear-gradient(#4fc7f2, #1c4fbe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 4px #2466f7);
}

#sec-digit-2 p {
    background: -webkit-linear-gradient(#4acaee, #1f48b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 4px #2466f7);
}

#msg-display {
    font-weight: 100;
    letter-spacing: 0.04em;
    word-spacing: 0.7rem;
    text-align: center;
    transform: skew(-10deg);
    padding: 1em;
}

#msg-display .word {
    font-size: clamp(3.5rem, 10vw, 5rem);
    display: inline-block;
    line-height: 1em;
    background: -webkit-linear-gradient(#ee834a, #e00b0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ee834a;

    /* filter: drop-shadow(0 0 10px rgb(255, 54, 32)); */
}

.message {
    top: 3rem;
    left: 0;
    z-index: 1;
    width: 100%;
    transition: top 500ms 500ms cubic-bezier(0.66, 0.56, 0.6, 1.12), transform 500ms 700ms cubic-bezier(1, 0, 0.6, 1.12);
}

body.complete .message {
    top: 30%;
    transform: scale(1.15);
}

canvas {
    position: fixed;
}

section.custom-page {
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 2rem;
    backdrop-filter: blur(10px);
    display: none;
}

section.custom-page.active {
    display: block;
}

section.custom-page .cont {
    max-width: 400px;
    border: 1px solid #ffffff3a;
    padding: 1em;
    margin: auto;
    margin-top: 5rem;
    background: rgba(0, 0, 0, 0.853);
}

section.custom-page .cont .top {
    display: flex;
}

section.custom-page .cont .top .close-logo {
    padding-top: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    height: min-content;
}

section.custom-page .cont h4 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    padding-top: 1rem;
}

.input-dt {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-dt label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 0 8px;
    background: #000000;
    color: var(--light-grey);
    transform: translateY(-180%) scale(0.8);
    transform-origin: left;
    transition: 200ms ease;
    cursor: text;
}

section.custom-page .cont input[type="datetime-local"] {
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 15px 23px;
    outline: none;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 1px var(--light-grey);
    color: #fff;
    margin: 10px 0;
    transition: 200ms ease;
}

section.custom-page .cont input[type="datetime-local"]:focus {
    box-shadow: 0 0 0 1.7px #9eb6ea;
}

.input-text {
    position: relative;
    width: 100%;
    margin: 10px 0;
    display: flex;
}

.input-text:last-child {
    animation: 300ms fade-in ease;
}

.input-text input[type="text"] {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 15px 23px;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 0 0 0 1px var(--light-grey);
    color: #fff;
    transition: 200ms ease;
}

.input-text label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 0 8px;
    background: #000000;
    color: var(--light-grey);
    transform: translateY(-50%) scale(1);
    transform-origin: left;
    transition: 200ms ease;
    cursor: text;
}

.input-text input[type="text"]:focus {
    box-shadow: 0 0 0 1.7px #9eb6ea;
}

.input-text input[type="text"]:focus ~ label {
    color: #b6c6e9;
}

.input-text input[type="text"]:focus ~ label,
.input-text input[type="text"]:valid ~ label {
    transform: translateY(-180%) scale(0.8);
}

button {
    border: none;
    background: var(--blue-accent);
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 10px 50px;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 0 10px 10px #1b67ca3d;
}

.menu-btns {
    width: 100%;
    position: fixed;
    top: 85%;
    padding: 2rem 0;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.menu-btns .btn {
    padding: 10px;
    cursor: pointer;
}

.menu-btns .dbl-icon svg:last-child {
    display: none;
}

.menu-btns .dbl-icon svg:first-child {
    display: block;
}

.menu-btns .dbl-icon.a svg:first-child {
    display: none;
}

.menu-btns .dbl-icon.a svg:last-child {
    display: block;
}
